<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>This is your Journal</p>

{{#if journal}}

<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each journal}}
  <tr>
    <td>
        <a href="/journals/{{_id}}">{{title}}</a>
    </td>
    <td>
        {{formatDate createdAt 'MMMM Do YYYY, h:mm:s a'}}
    </td>
    <td>
        <span class="dash-status">{{status}}</span>
    </td>
    <td>
        <span class="dash-status">{{type}}</span>
    </td>
    <td>
        <a href="/journals/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/journals/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
    </td>
  </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
  <p>You have not created a journal</p>
{{/if}}